.menu {
  display: flex;
  gap: 24px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 16px;
  font-size: 18px;
}

.menu-item:hover {
  border-bottom: 2px solid var(--surface-400);
  color: var(--surface-700);
}

.menu-item:active,
.menu-item.active {
  border-bottom: 2px solid var(--blue-400);
  color: var(--blue-800);
}

.pi {
  font-size: 18px;
}
