<div class="navbar">
  <app-navbar class="w-full"></app-navbar>
</div>
<div class="body">
  <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center">
    <div class="mb-3 font-bold text-3xl">
      <span class="text-900">Seu Currículo, </span>
      <span class="text-blue-600">Nossa Solução</span>
    </div>
    <div class="text-700 mb-6">
      Tenha seu currículo onde quiser com um simples cadastro de informações
    </div>
    <div class="grid">
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-desktop text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">
          PÁGINA EXCLUSIVA NA WEB
        </div>
        <span class="text-700 line-height-3"
          >Você terá sua página exclusiva na web com todas as informações do seu
          currículo.</span
        >
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-mobile text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">VISUAL RESPONSIVO</div>
        <span class="text-700 line-height-3"
          >Seu currículo poderá ser visto em diversos dispositivos como
          celulares, tablets e computadores.</span
        >
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-pencil text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">FÁCIL DE EDITAR</div>
        <span class="text-700 line-height-3"
          >Mantenha seu perfil atualizado e relevante com nossas ferramentas de
          alterações em tempo real.</span
        >
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-download text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">EXPORTAÇÃO EM PDF</div>
        <span class="text-700 line-height-3"
          >Poderá fazer o download do currículo em PDF para compartilhar ou
          imprimir.</span
        >
      </div>
      <div class="col-12 md:col-4 mb-4 px-5">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-share-alt text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">
          AGILIDADE NO COMPARTILHAMENTO
        </div>
        <span class="text-700 line-height-3"
          >Facilidade na distruibuição do currículo via link único, compartilhe
          com quem quiser.
        </span>
      </div>
      <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
        <span
          class="p-3 shadow-2 mb-3 inline-block surface-card"
          style="border-radius: 10px"
        >
          <i class="pi pi-table text-4xl text-blue-500"></i>
        </span>
        <div class="text-900 text-xl mb-3 font-medium">DIVERSOS LAYOUT</div>
        <span class="text-700 line-height-3"
          >Diversos layout de currículos para poder utilizar o que mais se
          encaixa ao seu perfil.</span
        >
      </div>
    </div>
  </div>
</div>
<div class="footer">
  <div></div>
  <div class="copyright">
    <span class="text-sm">COPYRIGHT © 2023 - CURRICULEAD</span>
  </div>
</div>
